body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
  
  }
  
  .grid {
    margin: 0;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    list-style-type: none;
    border-radius: 0.5rem;
    background-color: #bbada0;
  }
  
  
  .cell {
    display: block;
    width: 110px;
    height: 110px;
    align-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 65px;
  }
  
  
  section {
    height: auto;
    width: auto;
    padding-bottom: 10px;
  }
  
  
  .start {
    width: 125px;  
    height:30px;
    font-weight: bold;
    font-size: medium;
    background-color: #8f7a66;
    border:0cap; 
    color: #f9f6f2;
    border-radius: 4px;
    vertical-align: middle;
    margin-right: 200px;
  
  }
  
  .score {
    width: 65px;  
    height:50px;
    font-weight: bold;
    font-size: medium;
    border:0cap; 
    color: #f9f6f2;
    border-radius: 4px;
    background-color: #bbada0;
    vertical-align: middle;
    
  }
  
  .record {
    width: 105px;  
    height:50px;
    font-weight: bold;
    font-size: medium;
    background-color: #bbada0;
    border:0cap; 
    color: #f9f6f2;
    border-radius: 4px;
    vertical-align: middle;
    -ms-grid-column-align: start;
  }
  
  
  .v0 {
    background-color: #cdc1b4;
  }
  
  .v2 {
    color:rgb(51, 51, 51);
    background-color: #eee4da;
  }
  .v4 {
    color:rgb(47, 47, 47);
    background-color: #eee1c9;
  }
  .v8 {
    color:#f9f6f2;
    background-color: #f3b27a;
  }
  .v16 {
    color:#f9f6f2;
    background-color: #f69664;
  }
  .v32 {
    color:#f9f6f2;
    background-color: #f77c5f;
  }
  .v64 {
    color:#f9f6f2;
    background-color: #f75f3b;
  }
  .v128 {
    color:#f9f6f2;
    background-color: #edd073;
  }
  .v256 {
    color:#f9f6f2;
    background-color: #edcc62;
  }
  .v512 {
    color:#f9f6f2;
    background-color: #edc950;
  }
  .v1024 {
    color:#f9f6f2;
    background-color: #edc53f;
    font-size: 40px;
  }
  .v2048 {
    color:#f9f6f2;
    background-color: #edc22e;
    font-size: 40px;
  }